/* HTML Elements */
body {
  margin: 0;
  text-align: center;
  font-family: 'Kanit', sans-serif;
}

p {
  margin: auto 10vw;
  font-family: 'Roboto', sans-serif;
  color: #495464;
  line-height: 1.5;
  width: 75%;
}

h3 {
  margin: 20px 10vw;
  font-size: 1.5em;
  width: 75%;
  text-align: left;
  letter-spacing: 1px;
  color: #6F89B0;
}

h1, h2 {
  letter-spacing: 1px;
  padding-top: 20px;
  text-align: center;
  margin: 0;
  font-size: 2em;
  color: #6F89B0;
}

h4 {
  margin: 20px 10vw;
  width: 75%;
  letter-spacing: 1px;
  font-size: 1.1em;
  text-align: left;
  color: #495464;
}

hr {
  border-style: dotted none none;
  color: #6F89B0;
  border-width: 8px;
  width: 10%;
  margin-top: 30px;
}

/* Top Section */
.parallax-space {
  background-image: url("../images/Space2.jpg");
  min-height: 90px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.topContainer {
  min-height: 100vh;
  background: rgba(72.93, 83.895, 99.96, .3);
}

.rocket-png {
  width: 40vh;
  margin-top: 10vh;
}

.down-arrow-gif {
  width: 10vh;
  margin-top: 15vh;
}

/* Bio Section */
.parallax-profile {
  background-image: url("../images/Biking.jpg");
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hello {
  color: #f4f4f2;
}

.profile-picture {
  border-radius: 50%;
  padding: 25px;
  margin-top: 5vh;
}

.profile {
  background-color: #6F89B0;
  background-color: rgba(111, 137, 176, 0.25);
  padding: 50px;
  min-height: 90vh;
}

.bigName {
  color: #f4f4f2;
  font-family: 'Kanit', monospace;
  letter-spacing: 4px;
  font-size: 3em;
  line-height: 2;
  margin: 3vh 0;
}

.bigSub {
  color: #f4f4f2;
  font-family: 'Kanit', monospace;
  letter-spacing: 2px;
  font-size: 1.5em;
  margin: 0 auto;
}

.bio {
  color: #f4f4f2;
  max-width: 1000px;
  margin: 20px auto;
}

/* Tech Skills Section */
.demo-image {
  width: 75%;
  margin: 10px 10vw;
}

.middle-container {
  background-color: #f4f4f2;
}

.body-text {
  text-align: justify;
}

.skill-image-one {
  width: 20%;
  float: left;
  opacity: .6;
}

.skill-image-two {
  width: 20%;
  float: right;
  opacity: .6;
}

.skill-row-one {
  margin: 25px auto;
  width: 85%;
}

.skill-text-one {
  padding-left: 17.5vw;
}

.skill-text-two {
  padding-right: 17.5vw;
}

.skill-row-two {
  margin: 25px auto 0;
  width: 85%;
  text-align: left;
  padding-bottom: 20px;
  padding-top: 30px;
}

/* Study Abroad Section */
.year-abroad-bg {
  background-image: url("../images/Singapore.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.year-abroad-info {
  min-height: 100vh;
  background: rgba(72.93, 83.895, 99.96, .1);
  padding-bottom: 10px;
}

.year-abroad-title {
  color: #f4f4f2;
}

.year-abroad-body {
  padding-left: 40vw;
  padding-top: 15px;
}

.year-abroad-text {
  color: #f4f4f2;
  text-align: justify;
  margin: 10px 10vw auto;
}

/* China School Section */
.china-bg {
  background-image: url("../images/China.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.china-info {
  min-height: 100vh;
  background-color: #6F89B0;
  background-color: rgba(111, 137, 176, 0.25);
}

.china-title {
  color: #f4f4f2;
}

.china-body {
  padding-right: 45vw;
  padding-top: 15px;
}

.china-text {
  color: #f4f4f2;
  margin: 10px auto;
  text-align: justify;
}

/* Extracurricular and Hobbies Section */
.youtube_video {
  margin-left: 4vw;
  margin-top: 10px;
}

.hobbie-image {
  height: 75px;
  width: 75px;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 150px;
}

.link {
  text-align: left;
  margin: 10px 10vw;
}

/* Contact Me Footer */
.contact-me-headings {
  padding-top: 10px;
}

.contact-h2, .contact-h3 {
  color: #f4f4f2;
  letter-spacing: 1px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.contact-p {
  color: #f4f4f2;
  margin: 15px auto;
}

.contact-links-section {
  padding-bottom: 30px;
}

.btn, .footer-link {
  color: #bbbfca;
  padding: 10px;
  font-size: 1.5rem;
}

/* Mobile Frendly CSS */
@media only screen and (max-device-width: 1366px) {
/* @media (max-width: 550px) { */
  .demo-image, .youtube_video {
    width: 80%;
    margin: 10px 0;
    margin-left: 0;
  }

  .colab, .hobbie-image {
    margin-left: 10%;
  }

  .body-text, .bio {
    width: 80%;
  }

  .parallax-space, .parallax-profile, .year-abroad-bg, .china-bg {
    background-attachment: scroll;
  }

  .skill-image-one {
    float: none;
    width: 30%;
  }

  .skill-image-two {
    float: none;
    width: 30%;
    margin-left: 35%;
  }

  .skill-text-one, .skill-text-two, .skill-row-one, .skill-row-two, .year-abroad-body, .china-body {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    padding: 0 0 10px;
  }

  .china-text {
    margin-left: 10%;
    margin-right: -15%;
    padding: 0 0 10px;
  }
}
