body {
  margin: 0;
  text-align: center;
}

p {
  margin-left: 150px;
  margin-right: 150px;
  font-family: 'Roboto', sans-serif;
  color: #495464;
  line-height: 1.5;
  width: 75%;
}

h3 {
  padding-left: 150px;
  padding-right: 150px;
  padding-top: 20px;
  margin: 0;
  font-size: 1.5em;
  font-family: 'Kanit', sans-serif;
  color: #6F89B0;
}

h1, h2 {
  font-family: 'Kanit', sans-serif;
  padding-left: 150px;
  padding-right: 150px;
  padding-top: 20px;
  margin: 0;
  font-size: 2em;
  color: #6F89B0;
}

h4 {
  padding-left: 150px;
  padding-right: 150px;
  font-family: 'Kanit', sans-serif;
  font-size: 1.1em;
  color: #495464;
}

a {
  font-family: 'Castoro', serif;
}

hr {
  border-style: dotted none none;
  color: #6F89B0;
  border-width: 8px;
  width: 10%;
  margin-top: 30px;
}

iframe {
  margin-left: 40px;
}

.parallax-space {
  background-image: url("../images/Space2.jpg");

  min-height: 90px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax-profile {
  background-image: url("../images/Biking.jpg");

  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hello {
  color: #f4f4f2;
}

.profile-picture {
  border-radius: 50%;
  padding: 25px;
}

.topContainer {
  min-height: 100vh;
  background: rgba(72.93, 83.895, 99.96, .5);
}

.profile {
  background-color: #6F89B0;
  background-color: rgba(111, 137, 176, 0.5);
  padding: 50px;
}

.rocket-png {
  width: 40vh;
  margin-top: 10vh;
}

.down-arrow-gif {
  width: 10vh;
  margin-top: 15vh;
}

.demo-image {
  width: 75%;
  margin: 0 150px;
}

.bigName {
  color: #f4f4f2;
  font-family: 'Kanit', monospace;
  font-size: 3em;
  line-height: 2;
  margin: 3vh 0;
}

.bigSub {
  color: #f4f4f2;
  font-family: 'Kanit', monospace;
  letter-spacing: 2px;
  font-size: 1.5em;
  margin: 0 auto;
}

.bio {
  color: #f4f4f2;
  max-width: 1000px;
}

.body_text {
  text-align: justify;
}

.skill-image-one {
  width: 17.5%;
  float: left;

}

.skill-image-two {
  width: 17.5%;
  float: right;
}

.skill-row-one {
  margin: 60px auto;
  width: 85%;
  text-align: left;
}

.skill-text-one {
  padding-left: 200px;
}

.skill-text-two {
  padding-right: 200px;
}

.skill-row-two {
  margin: auto;
  width: 85%;
  text-align: left;
  padding-bottom: 10px;
  padding-top: 30px;
}

.middle-container {
  background-color: #f4f4f2;
}

.youtube_video {
  margin-left: 135px;
}

.hobbie-image {
  height: 75px;
  width: 75px;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 150px;
}

.contact-me {
  background-color: #495464;
  padding-top: 10px;
  background: rgba(72.93, 83.895, 99.96, .5);
}

.contact-p, .contact-h2, .contact-h3 {
  color: #f4f4f2;
  margin-left: auto;
  margin-right: auto;
}

.bottom-container {
  background-color: #495464;
  background: rgba(72.93, 83.895, 99.96, .5);
  padding-bottom: 10px;
}

.btn, .footer-link {
  color: #bbbfca;
}
