body {
  margin: 0;
  text-align: center;
}

p {
  padding-left: 150px;
  padding-right: 150px;
  padding-bottom: 5px;
  font-family: 'Roboto', sans-serif;
  color: #495464;
  line-height: 1.5;
}

h1, h2, h3 {
  padding-left: 150px;
  padding-right: 150px;
  font-family: 'Roboto', sans-serif;
  color: #bbbfca;
}

h4 {
  font-family: 'Roboto', sans-serif;
  color: #495464;
}

a {
  font-family: 'Roboto Mono', monospace;
}

.hello {
  color: #f4f4f2;
}

.profile-picture {
  border-radius: 50%;
  padding: 25px;
}

.topContainer {
  background-color: #495464;
  padding-bottom: 10%;
}

.rocket-png {
  width: 300px;
  height: 300px;
  margin-top: 100px;
}

.demo-image {
  width: 75%;
  height: 50%;
}

.bigName {
  color: #f4f4f2;
  font-family: 'Roboto Mono', monospace;
  font-size: 3em;
  line-height: 2;
}

.bigSub {
  color: #f4f4f2;
  font-family: 'Roboto Mono', monospace;
  font-size: 1.5em;
}

.bio {
  color: #f4f4f2;
}

.skill-image {
  height: 300px;
  width: 300px;
}

.skill-row {
  margin-top: 40px;
}

.profile {
  background-color: #6F89B0;
  padding-bottom: 15px;
}

.middle-container {
  background-color: #f4f4f2;
}

.hobbie-image {
  height: 75px;
  width: 75px;
  margin: 15px auto;
}

.contact-me {
  background-color: #495464;
  padding-top: 10px;
}

.contact-p, .contact-h2, .contact-h3 {
  color: #f4f4f2;
}

.bottom-container {
  background-color: #495464;
  padding-bottom: 10px;
}

.btn, .footer-link {
  color: #bbbfca;
}
