body {
  margin: 0;
  text-align: center;
}

p {
  padding-left: 150px;
  padding-right: 150px;
  padding-bottom: 5px;
  font-family: 'Roboto', sans-serif;
  color: #495464;
  line-height: 1.5;
}

h1, h2, h3 {
  padding-left: 150px;
  padding-right: 150px;
  font-family: 'Roboto', sans-serif;
  color: #6F89B0;
}

h4 {
  padding-left: 150px;
  padding-right: 150px;
  font-family: 'Roboto', sans-serif;
  color: #495464;
}

a {
  font-family: 'Roboto Mono', monospace;
}

hr {
  border-style: dotted none none;
  color: #6F89B0;
  border-width: 8px;
  width: 10%;
  margin-top: 30px;
}

iframe {
  margin-left: 40px;
}

.parallax {
  background-image: url("/Users/tomholmes/Documents/Web Development/Udemy/Angela/a-webpage-about-me/images/Space.jpg");

  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hello {
  color: #f4f4f2;
}

.profile-picture {
  border-radius: 50%;
  padding: 25px;
}

.topContainer {
  padding-bottom: 10%;
  background: rgba(72.93, 83.895, 99.96, .5);
}


.rocket-png {
  width: 300px;
  height: 300px;
  margin-top: 100px;
}

.demo-image {
  width: 90%;
}

.bigName {
  color: #f4f4f2;
  font-family: 'Roboto Mono', monospace;
  font-size: 3em;
  line-height: 2;
}

.bigSub {
  color: #f4f4f2;
  font-family: 'Roboto Mono', monospace;
  font-size: 1.5em;
}

.bio {
  color: #f4f4f2;
}

.skill-image-one {
  width: 25%;
  float: left;

}

.skill-image-two {
  width: 25%;
  float: right;
}

.skill-row-one {
  margin: 100px auto;
  width: 85%;
  text-align: left;
}

.skill-text-one {
  padding-left: 200px;
}

.skill-text-two {
  padding-right: 200px;
}

.skill-row-two {
  margin: 100px auto;
  width: 85%;
  text-align: left;
}

.profile {
  background-color: #6F89B0;
  padding: 50px;
}

.middle-container {
  background-color: #f4f4f2;
}

.hobbie-image {
  height: 75px;
  width: 75px;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 150px;
}

.contact-me {
  background-color: #495464;
  padding-top: 10px;
}

.contact-p, .contact-h2, .contact-h3 {
  color: #f4f4f2;
}

.bottom-container {
  background-color: #495464;
  padding-bottom: 10px;
}

.btn, .footer-link {
  color: #bbbfca;
}
